<?xml version="1.0"?>
<launch>
    <param name="robot_description" textfile="$(find urdf)/urdf/urdf.urdf"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model urdf"/>
</launch>