<?xml version="1.0"?>
<launch>
    <param name="robot_description" textfile="$(find urdf)/urdf/urdf.urdf"/>
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find urdf)/include/rviz/config.rviz"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen"/>
</launch>